<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>課表</title>
</head>

<body>

    <div>

        <fieldset>
            <legend>課程查詢</legend>
            <div>
                <form method="post" action="">
                    <input type="text" name="course_id" id="course_id" placeholder="輸入課程代號">
                    
                    <button type="submit">查詢</button>
                </form>
            </div>

        </fieldset>
    </div>

    <div class="schedule">

    </div>

</body>

</html>